/* Общие стили */

body {
  background: #1abc9c;
  font-family: Tahoma, Arial, sans-serif;
  color: #ffffff;
}

.archive img {
  display: block;
  width: 300px;
  height: 150px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.post-title a {
  color: #ffffff;
}

.article-author {
  width: 50%;
  float: left;
}

.article-created-date {
  text-align: right;
}

/* Стили главной страницы */

.archive .one-post a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}


.archive {
  width: 960px;
  margin: 0 auto;
}

.archive .one-post {
  margin-bottom: 30px;
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

/* Стили страниц со статьями */

.article {
  width: 960px;
  margin: 0 auto;
}

.article .one-post {
  margin-bottom: 30px;
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.article img {
  display: block;
  width: 300px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.article .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article a {
  padding: 8px;
  display: block;
  text-align: right;
  color: white;
  font-size: x-large;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
}
